[submodule "cmsimde"]
	path = cmsimde
	url = https://github.com/mdecourse/cmsimde
[submodule "cms"]
	path = cms
	url = https://github.com/mdecourse/cmsimde
[submodule "cmsi"]
	path = cmsi
	url = https://github.com/mdecourse/cmsimde.git
